{% extends 'base.html' %}

{% block content %}
    <nav>
        <a href="{{ url_for('home_connected') }}">Home</a>
        <a href="{{ url_for('personal_information') }}">Personal information</a>
    </nav>
    <h2>{% block title %} Change Password {% endblock %}</h2>
    <div class="post">
        <form method="post">
            <label for="new_password">New Password</label>
                <br>
                <input type="password" name="new_password"
                        placeholder="New Password"
                        value="{{ request.form['new_password'] }}"></input>
                <br>
                <br>
                <label for="verif_password">Verif password</label>
                <br>
                <input type="password" name="verif_new_password"
                        placeholder="Verif New Password"
                        value="{{ request.form['verif_new_password'] }}"></input>
            <br>
            <br>
            <button class="button" type="submit">Submit</button>
        </form>
    </div>
    
{% endblock %}