{% extends 'base.html' %}
{% block content %}
<nav>
    <a href="{{ url_for('dashboard') }}">Home</a>
    <a href="{{ url_for('personal_information') }}">Personal information</a>
</nav>
<h2>{% block title %} Change Password {% endblock %}</h2>
<br>
<div class="little_post">
    <form method="post">
        <label for="actual_password">Actual Password</label>
        <br>
        <input class="input" type="password" name="actual_password"
                placeholder="Actual Password"
                value="{{ request.form['actual_password'] }}" required></input>
        <br>
        <br>
        <label for="new_password">New Password</label>
        <br>
        <input class="input" type="password" name="new_password"
                placeholder="New Password"
                value="{{ request.form['new_password'] }}" required></input>
        <br>
        <br>
        <label for="verif_new_password">Verif new password</label>
        <br>
        <input class="input" type="password" name="verif_new_password"
                placeholder="Verif New Password"
                value="{{ request.form['verif_new_password'] }}" required></input>
        <br>
        <br>
        <button class="button" type="submit">Submit</button>
    </form>
</div> 
{% endblock %}